# Forge Stuff
.gradle/
.metadata/
.settings/
bin/
build/
eclipse/
gradle/
libs/
run/
.classpath
.project
build.bat
gradlew
gradlew.bat

# IC2 API
src/main/java/ic2/

# Buildcraft API
src/main/java/buildcraft/

# Forestry API
src/main/java/forestry/

# Thaumcraft API
src/main/java/thaumcraft/

#Railcraft API
src/main/java/mods/

#Mekanism API
src/main/java/mekanism/