# Forge Stuff
.gradle/
.metadata/
.settings/
bin/
build/
eclipse/
gradle/
.classpath
.project
gradlew
gradlew.bat

# IC2 API
src/main/java/ic2/

# Buildcraft API
src/main/java/buildcraft/

# Forestry API
src/main/java/forestry/